
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Screen1_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobileimage_2 */
.Screen1_mobileimage_2 {
	margin: 4px 0px 4px 0px;
	width: 199px; height: 60px;
	display: block;
}
/* spacer_3 */
.Screen1_spacer_3 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilegroupedbuttons_14 */
.ui-controlgroup.Screen1_mobilegroupedbuttons_14 {
	margin: 4px 5px 4px 5px;
}
.ui-controlgroup.Screen1_mobilegroupedbuttons_14 .ui-btn {
	margin: 0 -1px 0 0;
}
/* mobilebutton_15 */
#Screen1_mobilebutton_15 {

}
.ui-btn.Screen1_mobilebutton_15 {

}
/* mobilebutton_16 */
#Screen1_mobilebutton_16 {

}
.ui-btn.Screen1_mobilebutton_16 {

}
/* mobilebutton_17 */
#Screen1_mobilebutton_17 {

}
.ui-btn.Screen1_mobilebutton_17 {

}
/* mobilefooter */
.Screen1_mobilefooter {
	min-height:38px;
}